<!DOCTYPE html>
<html>
    
<head>
    <title>Category List</title>
</head>
<body>
    <h1>Category List</h1>
    {% csrf_token %}
    

    <a href="{% url 'category_create' %}">Add New Category</a>
    <ul>
        {% for category in categories %}
        <li>
            {{ category.name }}
            <a href="{% url 'category_update' category.pk %}">Edit</a>
            
            <a href="{% url 'category_delete' category.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>


